In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
Happ_15 = "../source_files/2015.csv"
Happ_16 = "../source_files/2016.csv"
Happ_17 = "../source_files/2017.csv"
Happ_18 = "../source_files/2018.csv"
Happ_19 = "../source_files/2019.csv"

In [3]:
H15_df = pd.read_csv(Happ_15)
H16_df = pd.read_csv(Happ_16)
H17_df = pd.read_csv(Happ_17)
H18_df = pd.read_csv(Happ_18)
H19_df = pd.read_csv(Happ_19)

In [6]:
H15_df['year']= 2015
H16_df['year'] = 2016
H17_df['year']= 2017
H18_df['year']= 2018
H19_df['year']= 2019

In [7]:
H15_rename = H15_df.rename(columns = {"Happiness Score":"Happiness Score","Happiness Rank":"Happiness Rank"})

In [8]:
H16_rename = H16_df.rename(columns = {"Happiness Score":"Happiness Score","Happiness Rank":"Happiness Rank"})

In [9]:
H17_rename = H17_df.rename(columns = {"Happiness.Score":"Happiness Score","Happiness.Rank":"Happiness Rank"})

In [10]:
H18_rename = H18_df.rename(columns = {"Score":"Happiness Score","Country or region":"Country","Overall rank":"Happiness Rank"})

In [11]:
H19_rename = H19_df.rename(columns = {"Score":"Happiness Score","Country or region":"Country","Overall rank":"Happiness Rank"})

In [12]:
H15_final = H15_rename[['Country','Happiness Rank','year']]

In [13]:
H16_final = H16_rename[['Country','Happiness Rank','year']]

In [14]:
H17_final = H17_rename[['Country','Happiness Rank','year']]

In [15]:
H18_final = H18_rename[['Country','Happiness Rank','year']]

In [16]:
H19_final = H19_rename[['Country','Happiness Rank','year']]

In [18]:
frames = [H15_final, H16_final, H17_final,H18_final, H19_final]

In [19]:
result = pd.concat(frames)

In [20]:
result

                      Country  Happiness Rank  year
0                 Switzerland               1  2015
1                     Iceland               2  2015
2                     Denmark               3  2015
3                      Norway               4  2015
4                      Canada               5  2015
..                        ...             ...   ...
151                    Rwanda             152  2019
152                  Tanzania             153  2019
153               Afghanistan             154  2019
154  Central African Republic             155  2019
155               South Sudan             156  2019

[782 rows x 3 columns]

In [21]:
result.to_csv("HappinessRanking_byYear.csv", index=False, header = True)