In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
# SQL Alchemy
from sqlalchemy import create_engine

In [3]:
# Create Engine for employee db
#engine = create_engine('postgres://sxwlsbsllohawb:4723d0dab89d2da6bf1aae12930fd6865874a185e4e4dca60e5af580ccd1a185@ec2-52-200-48-116.compute-1.amazonaws.com:5432/d7shhrp5hdjs4d')
engine = create_engine('postgresql://swain:db@localhost:5432/world_happiness')
connection = engine.connect()

In [4]:
indicators_df = pd.read_sql("SELECT * from table7_2017", connection)
                              
indicators_df.head()

,countryname,indicatorname,year_2017,target_groups
0,Afghanistan,Access to electricity (% of population),9.770000e+01,Very Sad
1,Afghanistan,Adjusted savings: energy depletion (current US$),2.110297e+07,Very Sad
2,Afghanistan,Adjusted savings: mineral depletion (current US$),9.537887e+05,Very Sad
3,Afghanistan,"Adolescent fertility rate (births per 1,000 wo...",6.895700e+01,Very Sad
4,Afghanistan,Age dependency ratio (% of working-age populat...,8.600075e+01,Very Sad

In [5]:
pivot_df = indicators_df.pivot(index='countryname', columns='indicatorname', values='year_2017')

In [6]:
pivot_df.head()

indicatorname,Access to electricity (% of population),Adjusted savings: energy depletion (current US$),Adjusted savings: mineral depletion (current US$),"Adolescent fertility rate (births per 1,000 women ages 15-19)",Age dependency ratio (% of working-age population),"Birth rate, crude (per 1,000 people)","Contributing family workers, female (% of female employment) (modeled ILO estimate)","Contributing family workers, male (% of male employment) (modeled ILO estimate)","Contributing family workers, total (% of total employment) (modeled ILO estimate)","Death rate, crude (per 1,000 people)",...,"Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)","Unemployment, total (% of total labor force) (modeled ILO estimate)",Urban population,Urban population (% of total population),Urban population growth (annual %),"Wage and salaried workers, female (% of female employment) (modeled ILO estimate)","Wage and salaried workers, male (% of male employment) (modeled ILO estimate)","Wage and salaried workers, total (% of total employment) (modeled ILO estimate)",Women Business and the Law Index Score (scale 1-100)
countryname,,,,,,,,,,,,,,,,,,,,,
Afghanistan,97.700000,2.110297e+07,9.537887e+05,68.957,86.000753,33.211,68.609001,12.401000,23.763,6.575,...,14.090,10.416,11.184,9164841.0,25.250,3.463407,7.551000,20.083000,17.549999,38.1
Albania,100.000000,1.196189e+08,2.261126e+06,19.642,45.682097,11.934,38.580002,21.372999,28.600,7.714,...,12.563,14.590,13.750,1706345.0,59.383,1.541285,44.298000,41.727001,42.806999,91.3
Algeria,100.000000,1.517693e+10,8.871101e+06,10.071,55.804001,24.846,2.419000,1.834000,1.927,4.717,...,21.114,10.021,11.996,29821745.0,72.052,2.871374,74.598999,67.067001,68.268997,57.5
Angola,41.962894,1.497083e+10,0.000000e+00,150.526,96.820228,41.281,10.554000,7.986000,9.269,8.432,...,7.467,6.769,7.119,19332881.0,64.839,4.391957,17.445000,41.287998,29.374001,73.1
Argentina,100.000000,4.903240e+09,1.431438e+09,62.782,56.046355,17.205,0.977000,0.307000,0.587,7.616,...,9.464,7.527,8.347,40410674.0,91.749,1.170196,78.545998,71.865997,74.660004,73.1

In [7]:
pivot_df=pivot_df.dropna(how='any')

In [8]:
pivot_df.count()

indicatorname
Access to electricity (% of population)                                              89
Adjusted savings: energy depletion (current US$)                                     89
Adjusted savings: mineral depletion (current US$)                                    89
Adolescent fertility rate (births per 1,000 women ages 15-19)                        89
Age dependency ratio (% of working-age population)                                   89
                                                                                     ..
Urban population growth (annual %)                                                   89
Wage and salaried workers, female (% of female employment) (modeled ILO estimate)    89
Wage and salaried workers, male (% of male employment) (modeled ILO estimate)        89
Wage and salaried workers, total (% of total employment) (modeled ILO estimate)      89
Women Business and the Law Index Score (scale 1-100)                                 89
Length: 95, dtype: int64

In [9]:
target_groups_df = pd.read_sql("SELECT distinct countryname,target_groups  from table7_2017", connection)
                              
target_groups_df.head()

  countryname    target_groups
0      Angola         Very Sad
1     Ireland  Extremely Happy
2      Malawi         Very Sad
3      Rwanda         Very Sad
4     Denmark  Extremely Happy

In [10]:
merged_df = pd.merge(pivot_df, target_groups_df 
                   ,left_on="countryname"
                   ,right_on = "countryname"
                   ,how="inner")

In [11]:
merged_df.head()

,countryname,Access to electricity (% of population),Adjusted savings: energy depletion (current US$),Adjusted savings: mineral depletion (current US$),"Adolescent fertility rate (births per 1,000 women ages 15-19)",Age dependency ratio (% of working-age population),"Birth rate, crude (per 1,000 people)","Contributing family workers, female (% of female employment) (modeled ILO estimate)","Contributing family workers, male (% of male employment) (modeled ILO estimate)","Contributing family workers, total (% of total employment) (modeled ILO estimate)",...,"Unemployment, male (% of male labor force) (modeled ILO estimate)","Unemployment, total (% of total labor force) (modeled ILO estimate)",Urban population,Urban population (% of total population),Urban population growth (annual %),"Wage and salaried workers, female (% of female employment) (modeled ILO estimate)","Wage and salaried workers, male (% of male employment) (modeled ILO estimate)","Wage and salaried workers, total (% of total employment) (modeled ILO estimate)",Women Business and the Law Index Score (scale 1-100),target_groups
0,Algeria,100.000000,1.517693e+10,8.871101e+06,10.071,55.804001,24.846,2.419,1.834,1.927,...,10.021,11.996,29821745.0,72.052,2.871374,74.598999,67.067001,68.268997,57.5,Moderately Happy
1,Angola,41.962894,1.497083e+10,0.000000e+00,150.526,96.820228,41.281,10.554,7.986,9.269,...,6.769,7.119,19332881.0,64.839,4.391957,17.445000,41.287998,29.374001,73.1,Very Sad
2,Armenia,100.000000,6.826427e-01,3.519253e+08,21.490,46.094267,14.298,3.382,1.395,2.316,...,17.906,17.705,1858263.0,63.103,0.327886,60.888000,58.601002,59.660999,80.0,Moderately Sad
3,Australia,100.000000,9.940973e+09,2.256441e+10,11.715,52.599671,12.600,0.231,0.153,0.189,...,5.525,5.591,21133982.0,85.904,1.805664,87.560997,79.254997,83.100998,96.9,Extremely Happy
4,Austria,100.000000,1.947784e+08,1.451524e+07,7.340,49.672586,10.000,1.673,1.276,1.462,...,5.908,5.499,5110858.0,58.094,1.020479,90.158997,85.387001,87.623001,94.4,Extremely Happy

In [12]:
target = merged_df["target_groups"]
target.head()

0    Moderately Happy
1            Very Sad
2      Moderately Sad
3     Extremely Happy
4     Extremely Happy
Name: target_groups, dtype: object

In [13]:
target_names = pd.read_sql("SELECT distinct target_groups  from table7_2017", connection)
target_names

      target_groups
0   Extremely Happy
1         Apathetic
2  Moderately Happy
3    Moderately Sad
4          Very Sad

In [14]:
data = merged_df.drop(["target_groups","countryname"], axis=1)

In [15]:
feature_names = data.columns
data.head()

,Access to electricity (% of population),Adjusted savings: energy depletion (current US$),Adjusted savings: mineral depletion (current US$),"Adolescent fertility rate (births per 1,000 women ages 15-19)",Age dependency ratio (% of working-age population),"Birth rate, crude (per 1,000 people)","Contributing family workers, female (% of female employment) (modeled ILO estimate)","Contributing family workers, male (% of male employment) (modeled ILO estimate)","Contributing family workers, total (% of total employment) (modeled ILO estimate)","Death rate, crude (per 1,000 people)",...,"Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)","Unemployment, total (% of total labor force) (modeled ILO estimate)",Urban population,Urban population (% of total population),Urban population growth (annual %),"Wage and salaried workers, female (% of female employment) (modeled ILO estimate)","Wage and salaried workers, male (% of male employment) (modeled ILO estimate)","Wage and salaried workers, total (% of total employment) (modeled ILO estimate)",Women Business and the Law Index Score (scale 1-100)
0,100.000000,1.517693e+10,8.871101e+06,10.071,55.804001,24.846,2.419,1.834,1.927,4.717,...,21.114000,10.021,11.996,29821745.0,72.052,2.871374,74.598999,67.067001,68.268997,57.5
1,41.962894,1.497083e+10,0.000000e+00,150.526,96.820228,41.281,10.554,7.986,9.269,8.432,...,7.467000,6.769,7.119,19332881.0,64.839,4.391957,17.445000,41.287998,29.374001,73.1
2,100.000000,6.826427e-01,3.519253e+08,21.490,46.094267,14.298,3.382,1.395,2.316,9.862,...,17.471001,17.906,17.705,1858263.0,63.103,0.327886,60.888000,58.601002,59.660999,80.0
3,100.000000,9.940973e+09,2.256441e+10,11.715,52.599671,12.600,0.231,0.153,0.189,6.500,...,5.668000,5.525,5.591,21133982.0,85.904,1.805664,87.560997,79.254997,83.100998,96.9
4,100.000000,1.947784e+08,1.451524e+07,7.340,49.672586,10.000,1.673,1.276,1.462,9.500,...,5.031000,5.908,5.499,5110858.0,58.094,1.020479,90.158997,85.387001,87.623001,94.4

In [16]:
data.count()

Access to electricity (% of population)                                              89
Adjusted savings: energy depletion (current US$)                                     89
Adjusted savings: mineral depletion (current US$)                                    89
Adolescent fertility rate (births per 1,000 women ages 15-19)                        89
Age dependency ratio (% of working-age population)                                   89
                                                                                     ..
Urban population growth (annual %)                                                   89
Wage and salaried workers, female (% of female employment) (modeled ILO estimate)    89
Wage and salaried workers, male (% of male employment) (modeled ILO estimate)        89
Wage and salaried workers, total (% of total employment) (modeled ILO estimate)      89
Women Business and the Law Index Score (scale 1-100)                                 89
Length: 95, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [18]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.34782608695652173

In [19]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.5652173913043478

In [20]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.03206198586988601, 'Rural population (% of total population)'),
 (0.029731929962900576, 'Mortality rate, infant (per 1,000 live births)'),
 (0.02963488227237843,
  'Employment in services, female (% of female employment) (modeled ILO estimate)'),
 (0.026225916178586547, 'Survival to age 65, male (% of cohort)'),
 (0.025921595798845877, 'Physicians (per 1,000 people)'),
 (0.024998113829304634, 'Urban population (% of total population)'),
 (0.02489148640706641, 'Life expectancy at birth, male (years)'),
 (0.024161744519655533, 'Life expectancy at birth, total (years)'),
 (0.023511973591392458, 'GDP per capita (current US$)'),
 (0.022092316020944986, 'Life expectancy at birth, female (years)'),
 (0.021793449075261217,
  'Employment in agriculture, female (% of female employment) (modeled ILO estimate)'),
 (0.019806547944204066,
  'Employment in agriculture, male (% of male employment) (modeled ILO estimate)'),
 (0.019191057383803327, 'Urban population growth (annual %)'),
 (0.01824715267522858,
  'Employment in agriculture (% of total employment) (modeled ILO estimate)'),
 (0.01756537742233647, 'Survival to age 65, female (% of cohort)'),
 (0.016167313764034918, 'Net migration'),
 (0.0160943148523505, 'Secure Internet servers (per 1 million people)'),
 (0.015858542666492406, 'Individuals using the Internet (% of population)'),
 (0.015292727546760334, 'Fertility rate, total (births per woman)'),
 (0.014769728747571981, 'Population growth (annual %)'),
 (0.013569104608857765, 'Tuberculosis case detection rate (%, all forms)'),
 (0.01284537670654885, 'Birth rate, crude (per 1,000 people)'),
 (0.012825658958259574, 'GDP per capita growth (annual %)'),
 (0.01249204674941946,
  'Contributing family workers, female (% of female employment) (modeled ILO estimate)'),
 (0.012196453755334395,
  'Employment to population ratio, 15+, male (%) (modeled ILO estimate)'),
 (0.011838578805082567,
  'Contributing family workers, total (% of total employment) (modeled ILO estimate)'),
 (0.011699527917279405,
  'Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)'),
 (0.011634711390030347, 'Incidence of tuberculosis (per 100,000 people)'),
 (0.011054847153421666,
  'Employment in industry, female (% of female employment) (modeled ILO estimate)'),
 (0.01092218251205437,
  'Self-employed, female (% of female employment) (modeled ILO estimate)'),
 (0.010326950304854816, 'Age dependency ratio (% of working-age population)'),
 (0.010180560166863634,
  'Self-employed, total (% of total employment) (modeled ILO estimate)'),
 (0.010075548971768641,
  'Contributing family workers, male (% of male employment) (modeled ILO estimate)'),
 (0.009970877603653781, 'Labor force, female (% of total labor force)'),
 (0.009906573176204721, 'Lifetime risk of maternal death (%)'),
 (0.009704335039955424, 'Public credit registry coverage (% of adults)'),
 (0.009695713159404715,
  'Maternal mortality ratio (modeled estimate, per 100,000 live births)'),
 (0.009546656162987568, 'Mobile cellular subscriptions (per 100 people)'),
 (0.009320270727569946, 'Fixed telephone subscriptions (per 100 people)'),
 (0.009207283356252122,
  'Merchandise imports by the reporting economy (current US$)'),
 (0.009196044709255306,
  'Employment in services (% of total employment) (modeled ILO estimate)'),
 (0.009109262993137827,
  'Employment to population ratio, 15+, total (%) (modeled ILO estimate)'),
 (0.00894561738359927,
  'Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate)'),
 (0.008885424069862912, 'GDP growth (annual %)'),
 (0.008851567293754033, 'Access to electricity (% of population)'),
 (0.008781305108787402,
  'Wage and salaried workers, total (% of total employment) (modeled ILO estimate)'),
 (0.008760458355208844, 'Population, female'),
 (0.008279976136491774, 'Foreign direct investment, net inflows (% of GDP)'),
 (0.008209753713078864, 'Population, male (% of total population)'),
 (0.008166616684264492,
  'Merchandise imports from high-income economies (% of total merchandise imports)'),
 (0.008048530819620425, 'Labor force, total'),
 (0.007939760277628525,
  'Adolescent fertility rate (births per 1,000 women ages 15-19)'),
 (0.00789957159168732, 'Fixed telephone subscriptions'),
 (0.007883321728705957,
  'Merchandise exports to high-income economies (% of total merchandise exports)'),
 (0.007612270234052784, 'Population, female (% of total population)'),
 (0.007503660805729,
  'Ease of doing business score (0 = lowest performance to 100 = best performance)'),
 (0.007484449114728363,
  'Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)'),
 (0.0074386802682178425,
  'Wage and salaried workers, male (% of male employment) (modeled ILO estimate)'),
 (0.00727749685710971, 'Inflation, consumer prices (annual %)'),
 (0.00720361752818568, 'Secure Internet servers'),
 (0.007150202314912477,
  'Self-employed, male (% of male employment) (modeled ILO estimate)'),
 (0.007009504896969615, 'Private credit bureau coverage (% of adults)'),
 (0.006993644845096621,
  'Merchandise exports by the reporting economy, residual (% of total merchandise exports)'),
 (0.00690142669568219, 'Population, male'),
 (0.006693304423049872,
  'Women Business and the Law Index Score (scale 1-100)'),
 (0.006681472424422632,
  'Unemployment, total (% of total labor force) (modeled ILO estimate)'),
 (0.006628538435754669,
  'Employers, male (% of male employment) (modeled ILO estimate)'),
 (0.006468471907816686,
  'Wage and salaried workers, female (% of female employment) (modeled ILO estimate)'),
 (0.006257762728392508,
  'Employment in industry, male (% of male employment) (modeled ILO estimate)'),
 (0.006066192233029384,
  'Merchandise imports by the reporting economy, residual (% of total merchandise imports)'),
 (0.006038905594625738, 'Urban population'),
 (0.006035016236036017, 'Inflation, GDP deflator (annual %)'),
 (0.005927721993506184,
  'Employment in services, male (% of male employment) (modeled ILO estimate)'),
 (0.0057308603638474035,
  'Unemployment, female (% of female labor force) (modeled ILO estimate)'),
 (0.00568345935818373,
  'Employment to population ratio, 15+, female (%) (modeled ILO estimate)'),
 (0.005678205086569177, 'GDP (current US$)'),
 (0.005667317097249363,
  'Unemployment, male (% of male labor force) (modeled ILO estimate)'),
 (0.005540592153894526,
  'Employment in industry (% of total employment) (modeled ILO estimate)'),
 (0.0055273312011892605,
  'Employers, total (% of total employment) (modeled ILO estimate)'),
 (0.005527194949474591,
  'Employers, female (% of female employment) (modeled ILO estimate)'),
 (0.005483784418892393,
  'Merchandise exports by the reporting economy (current US$)'),
 (0.005367103954100997,
  'Ratio of female to male labor force participation rate (%) (modeled ILO estimate)'),
 (0.005116694966253692, 'Population, total'),
 (0.004874973618234148, 'Adjusted savings: mineral depletion (current US$)'),
 (0.004648822319112464, 'Adjusted savings: energy depletion (current US$)'),
 (0.004640280883238621,
  'Strength of legal rights index (0=weak to 12=strong)'),
 (0.004452516107532551, 'Sex ratio at birth (male births per female births)'),
 (0.0042274202144774575, 'Mobile cellular subscriptions'),
 (0.0037206949414926318, 'Lower secondary school starting age (years)'),
 (0.0036626761003785095, 'Death rate, crude (per 1,000 people)'),
 (0.0036215757805370713, 'Time required to start a business (days)'),
 (0.0021704182255443726,
  'Depth of credit information index (0=low to 8=high)'),
 (0.0014917786716896516, 'Secondary education, duration (years)'),
 (0.0010649800972979413, 'Primary education, duration (years)'),
 (0.0007403553335995017, 'Primary school starting age (years)')]