In [2]:
from sklearn import tree
import pandas as pd
import os

In [4]:
# SQL Alchemy
from sqlalchemy import create_engine

In [6]:
# Create Engine for employee db
engine = create_engine('postgres://sxwlsbsllohawb:4723d0dab89d2da6bf1aae12930fd6865874a185e4e4dca60e5af580ccd1a185@ec2-52-200-48-116.compute-1.amazonaws.com:5432/d7shhrp5hdjs4d')
connection = engine.connect()

In [15]:
indicators_df = pd.read_sql("SELECT * from happiness_indicators_final", connection)
                              
indicators_df.head()

,countryname,countrycode,indicatorname,indicatorcode,year,value,happiness_rank_2015,target_groups
0,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,2014,4.604334,153.0,Very Sad
1,Afghanistan,AFG,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,2014,0.243081,153.0,Very Sad
2,Afghanistan,AFG,Internet users (per 100 people),IT.NET.USER.P2,2014,6.390000,153.0,Very Sad
3,Afghanistan,AFG,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,2014,74.882842,153.0,Very Sad
4,Afghanistan,AFG,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,2014,68.100000,153.0,Very Sad

In [16]:
indicators_sub_df=indicators_df[["countryname","indicatorname", "value","target_groups"]]
indicators_sub_df.head()

,countryname,indicatorname,value,target_groups
0,Afghanistan,"Inflation, consumer prices (annual %)",4.604334,Very Sad
1,Afghanistan,"Inflation, GDP deflator (annual %)",0.243081,Very Sad
2,Afghanistan,Internet users (per 100 people),6.390000,Very Sad
3,Afghanistan,Mobile cellular subscriptions (per 100 people),74.882842,Very Sad
4,Afghanistan,"Mortality rate, infant (per 1,000 live births)",68.100000,Very Sad

In [18]:
pivot_df = indicators_sub_df.pivot(index='countryname', columns='indicatorname', values='value')

In [19]:
pivot_df.head()

indicatorname,Diabetes prevalence (% of population ages 20 to 79),Fixed telephone subscriptions,Fixed telephone subscriptions (per 100 people),"Foreign direct investment, net inflows (% of GDP)",GDP growth (annual %),"Incidence of tuberculosis (per 100,000 people)","Inflation, GDP deflator (annual %)","Inflation, consumer prices (annual %)",Internet users (per 100 people),"Labor force, female (% of total labor force)",...,Population ages 65 and above (% of total),Population growth (annual %),"Population, ages 0-14 (% of total)","Population, ages 15-64 (% of total)",Rural population (% of total population),"Unemployment, female (% of female labor force)","Unemployment, male (% of male labor force)",Urban population,Urban population (% of total),Urban population growth (annual %)
countryname,,,,,,,,,,,,,,,,,,,,,
Afghanistan,8.07,101931.0,0.325861,0.243315,1.312531,189.0,0.243081,4.604334,6.39,16.051439,...,2.434685,3.033473,44.870996,52.694319,73.718,14.000000,8.2,8312341.0,26.282,4.609630
Albania,2.57,247070.0,7.756294,8.699868,2.170000,19.0,0.991264,1.634033,60.10,41.266475,...,12.062252,-0.099830,18.930427,69.007321,43.591,14.800000,16.9,1632744.0,56.409,1.735762
Algeria,7.29,3092558.0,7.745153,0.704710,3.800000,78.0,-0.412085,2.916406,18.09,17.376156,...,5.803446,1.940399,28.205909,65.990645,29.871,16.799999,8.0,27304259.0,70.129,2.826978
Angola,2.61,281327.0,1.270830,NaN,NaN,370.0,NaN,7.279562,21.26,46.204554,...,2.308593,3.269552,47.850317,49.841090,56.726,7.300000,6.4,10484219.0,43.274,5.097879
Argentina,5.65,9439138.0,22.579982,1.126229,0.453605,24.0,29.341365,NaN,64.70,40.431360,...,10.808984,1.033056,25.346427,63.844589,8.396,9.800000,7.1,39371423.0,91.604,1.199124

In [20]:
target_groups_df = pd.read_sql("SELECT distinct countryname,target_groups  from happiness_indicators_final", connection)
                              
target_groups_df.head()

  countryname   target_groups
0        Iraq  Moderately Sad
1      Gambia            None
2      Angola        Very Sad
3     Lebanon  Moderately Sad
4  Tajikistan  Moderately Sad

In [60]:
merged_df = pd.merge(pivot_df, target_groups_df 
                   ,left_on="countryname"
                   ,right_on = "countryname"
                   ,how="inner")

In [61]:
merged_df.head()

,countryname,Diabetes prevalence (% of population ages 20 to 79),Fixed telephone subscriptions,Fixed telephone subscriptions (per 100 people),"Foreign direct investment, net inflows (% of GDP)",GDP growth (annual %),"Incidence of tuberculosis (per 100,000 people)","Inflation, GDP deflator (annual %)","Inflation, consumer prices (annual %)",Internet users (per 100 people),...,Population growth (annual %),"Population, ages 0-14 (% of total)","Population, ages 15-64 (% of total)",Rural population (% of total population),"Unemployment, female (% of female labor force)","Unemployment, male (% of male labor force)",Urban population,Urban population (% of total),Urban population growth (annual %),target_groups
0,Afghanistan,8.07,101931.0,0.325861,0.243315,1.312531,189.0,0.243081,4.604334,6.39,...,3.033473,44.870996,52.694319,73.718,14.000000,8.2,8312341.0,26.282,4.609630,Very Sad
1,Albania,2.57,247070.0,7.756294,8.699868,2.170000,19.0,0.991264,1.634033,60.10,...,-0.099830,18.930427,69.007321,43.591,14.800000,16.9,1632744.0,56.409,1.735762,Apathetic
2,Algeria,7.29,3092558.0,7.745153,0.704710,3.800000,78.0,-0.412085,2.916406,18.09,...,1.940399,28.205909,65.990645,29.871,16.799999,8.0,27304259.0,70.129,2.826978,Apathetic
3,Angola,2.61,281327.0,1.270830,NaN,NaN,370.0,NaN,7.279562,21.26,...,3.269552,47.850317,49.841090,56.726,7.300000,6.4,10484219.0,43.274,5.097879,Very Sad
4,Argentina,5.65,9439138.0,22.579982,1.126229,0.453605,24.0,29.341365,NaN,64.70,...,1.033056,25.346427,63.844589,8.396,9.800000,7.1,39371423.0,91.604,1.199124,Extremely Happy

In [62]:
merged_df = merged_df.drop(["Physicians (per 1,000 people)"], axis=1)

In [63]:
merged_df=merged_df.dropna(how='any')

In [64]:
merged_df.count()

countryname                                                             130
Diabetes prevalence (% of population ages 20 to 79)                     130
Fixed telephone subscriptions                                           130
Fixed telephone subscriptions (per 100 people)                          130
Foreign direct investment, net inflows (% of GDP)                       130
GDP growth (annual %)                                                   130
Incidence of tuberculosis (per 100,000 people)                          130
Inflation, GDP deflator (annual %)                                      130
Inflation, consumer prices (annual %)                                   130
Internet users (per 100 people)                                         130
Labor force, female (% of total labor force)                            130
Lifetime risk of maternal death (%)                                     130
Maternal mortality ratio (modeled estimate, per 100,000 live births)    130
Mobile cellular subscriptions (per 100 people)                          130
Mortality rate, infant (per 1,000 live births)                          130
Mortality rate, under-5 (per 1,000)                                     130
Population ages 65 and above (% of total)                               130
Population growth (annual %)                                            130
Population, ages 0-14 (% of total)                                      130
Population, ages 15-64 (% of total)                                     130
Rural population (% of total population)                                130
Unemployment, female (% of female labor force)                          130
Unemployment, male (% of male labor force)                              130
Urban population                                                        130
Urban population (% of total)                                           130
Urban population growth (annual %)                                      130
target_groups                                                           130
dtype: int64

In [65]:
target = merged_df["target_groups"]
target.head()

0           Very Sad
1          Apathetic
2          Apathetic
5     Moderately Sad
6    Extremely Happy
Name: target_groups, dtype: object

In [66]:
target_names = pd.read_sql("SELECT distinct target_groups  from happiness_indicators_final", connection)
target_names

      target_groups
0              None
1   Extremely Happy
2         Apathetic
3  Moderately Happy
4    Moderately Sad
5          Very Sad

In [67]:
data = merged_df.drop(["target_groups","countryname"], axis=1)

In [68]:
feature_names = data.columns
data.head()

,Diabetes prevalence (% of population ages 20 to 79),Fixed telephone subscriptions,Fixed telephone subscriptions (per 100 people),"Foreign direct investment, net inflows (% of GDP)",GDP growth (annual %),"Incidence of tuberculosis (per 100,000 people)","Inflation, GDP deflator (annual %)","Inflation, consumer prices (annual %)",Internet users (per 100 people),"Labor force, female (% of total labor force)",...,Population ages 65 and above (% of total),Population growth (annual %),"Population, ages 0-14 (% of total)","Population, ages 15-64 (% of total)",Rural population (% of total population),"Unemployment, female (% of female labor force)","Unemployment, male (% of male labor force)",Urban population,Urban population (% of total),Urban population growth (annual %)
0,8.07,101931.0,0.325861,0.243315,1.312531,189.0,0.243081,4.604334,6.39,16.051439,...,2.434685,3.033473,44.870996,52.694319,73.718,14.000000,8.2,8312341.0,26.282,4.609630
1,2.57,247070.0,7.756294,8.699868,2.170000,19.0,0.991264,1.634033,60.10,41.266475,...,12.062252,-0.099830,18.930427,69.007321,43.591,14.800000,16.9,1632744.0,56.409,1.735762
2,7.29,3092558.0,7.745153,0.704710,3.800000,78.0,-0.412085,2.916406,18.09,17.376156,...,5.803446,1.940399,28.205909,65.990645,29.871,16.799999,8.0,27304259.0,70.129,2.826978
5,2.58,564476.0,18.916819,3.472430,3.500000,45.0,2.716111,2.980988,46.30,46.177846,...,10.579598,0.465529,18.663681,70.756721,37.188,18.799999,15.8,1888225.0,62.812,0.206332
6,4.08,9190000.0,38.890962,3.185140,2.499851,6.4,1.413621,2.487923,84.56,45.388826,...,14.724274,1.565431,18.711620,66.564106,10.711,5.900000,6.0,20974643.0,89.289,1.717861

In [69]:
data.count()

Diabetes prevalence (% of population ages 20 to 79)                     130
Fixed telephone subscriptions                                           130
Fixed telephone subscriptions (per 100 people)                          130
Foreign direct investment, net inflows (% of GDP)                       130
GDP growth (annual %)                                                   130
Incidence of tuberculosis (per 100,000 people)                          130
Inflation, GDP deflator (annual %)                                      130
Inflation, consumer prices (annual %)                                   130
Internet users (per 100 people)                                         130
Labor force, female (% of total labor force)                            130
Lifetime risk of maternal death (%)                                     130
Maternal mortality ratio (modeled estimate, per 100,000 live births)    130
Mobile cellular subscriptions (per 100 people)                          130
Mortality rate, infant (per 1,000 live births)                          130
Mortality rate, under-5 (per 1,000)                                     130
Population ages 65 and above (% of total)                               130
Population growth (annual %)                                            130
Population, ages 0-14 (% of total)                                      130
Population, ages 15-64 (% of total)                                     130
Rural population (% of total population)                                130
Unemployment, female (% of female labor force)                          130
Unemployment, male (% of male labor force)                              130
Urban population                                                        130
Urban population (% of total)                                           130
Urban population growth (annual %)                                      130
dtype: int64

In [70]:
data.head()

,Diabetes prevalence (% of population ages 20 to 79),Fixed telephone subscriptions,Fixed telephone subscriptions (per 100 people),"Foreign direct investment, net inflows (% of GDP)",GDP growth (annual %),"Incidence of tuberculosis (per 100,000 people)","Inflation, GDP deflator (annual %)","Inflation, consumer prices (annual %)",Internet users (per 100 people),"Labor force, female (% of total labor force)",...,Population ages 65 and above (% of total),Population growth (annual %),"Population, ages 0-14 (% of total)","Population, ages 15-64 (% of total)",Rural population (% of total population),"Unemployment, female (% of female labor force)","Unemployment, male (% of male labor force)",Urban population,Urban population (% of total),Urban population growth (annual %)
0,8.07,101931.0,0.325861,0.243315,1.312531,189.0,0.243081,4.604334,6.39,16.051439,...,2.434685,3.033473,44.870996,52.694319,73.718,14.000000,8.2,8312341.0,26.282,4.609630
1,2.57,247070.0,7.756294,8.699868,2.170000,19.0,0.991264,1.634033,60.10,41.266475,...,12.062252,-0.099830,18.930427,69.007321,43.591,14.800000,16.9,1632744.0,56.409,1.735762
2,7.29,3092558.0,7.745153,0.704710,3.800000,78.0,-0.412085,2.916406,18.09,17.376156,...,5.803446,1.940399,28.205909,65.990645,29.871,16.799999,8.0,27304259.0,70.129,2.826978
5,2.58,564476.0,18.916819,3.472430,3.500000,45.0,2.716111,2.980988,46.30,46.177846,...,10.579598,0.465529,18.663681,70.756721,37.188,18.799999,15.8,1888225.0,62.812,0.206332
6,4.08,9190000.0,38.890962,3.185140,2.499851,6.4,1.413621,2.487923,84.56,45.388826,...,14.724274,1.565431,18.711620,66.564106,10.711,5.900000,6.0,20974643.0,89.289,1.717861

In [71]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [72]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.45454545454545453

In [73]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.5454545454545454

In [74]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.07021678163412731, 'Mortality rate, infant (per 1,000 live births)'),
 (0.0592065301574658, 'Incidence of tuberculosis (per 100,000 people)'),
 (0.057988872599063254, 'Mortality rate, under-5 (per 1,000)'),
 (0.05603989538074046, 'Internet users (per 100 people)'),
 (0.053914609087349366, 'Urban population (% of total)'),
 (0.052212318553037394, 'Rural population (% of total population)'),
 (0.04760998104548588, 'Population, ages 0-14 (% of total)'),
 (0.04660465518926712, 'Population, ages 15-64 (% of total)'),
 (0.04549504311684399, 'Unemployment, female (% of female labor force)'),
 (0.04379228950885181, 'Unemployment, male (% of male labor force)'),
 (0.04219514690391047, 'Population growth (annual %)'),
 (0.0411037489002564,
  'Maternal mortality ratio (modeled estimate, per 100,000 live births)'),
 (0.03595479143119654, 'Foreign direct investment, net inflows (% of GDP)'),
 (0.034752859328406854, 'Mobile cellular subscriptions (per 100 people)'),
 (0.0341191394372494, 'Inflation, GDP deflator (annual %)'),
 (0.03324267370855487, 'Fixed telephone subscriptions (per 100 people)'),
 (0.0329767929384668, 'Diabetes prevalence (% of population ages 20 to 79)'),
 (0.032847211508029786, 'Urban population'),
 (0.031160386264079288, 'Urban population growth (annual %)'),
 (0.029370431381874382, 'Lifetime risk of maternal death (%)'),
 (0.026786121658030012, 'Inflation, consumer prices (annual %)'),
 (0.02606291125536467, 'Fixed telephone subscriptions'),
 (0.025119099251196913, 'Labor force, female (% of total labor force)'),
 (0.021395116827646703, 'GDP growth (annual %)'),
 (0.019832592933504513, 'Population ages 65 and above (% of total)')]