In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
# SQL Alchemy
from sqlalchemy import create_engine

In [3]:
# Create Engine for employee db
#engine = create_engine('postgres://sxwlsbsllohawb:4723d0dab89d2da6bf1aae12930fd6865874a185e4e4dca60e5af580ccd1a185@ec2-52-200-48-116.compute-1.amazonaws.com:5432/d7shhrp5hdjs4d')
engine = create_engine('postgresql://swain:db@localhost:5432/world_happiness')
connection = engine.connect()

In [4]:
indicators_df = pd.read_sql("SELECT * from table4_2017", connection)
                              
indicators_df.head()

,countryname,indicatorname,year_2017,target_groups
0,Afghanistan,Access to electricity (% of population),9.770000e+01,Very Sad
1,Afghanistan,Adjusted savings: energy depletion (current US$),2.110297e+07,Very Sad
2,Afghanistan,Adjusted savings: mineral depletion (current US$),9.537887e+05,Very Sad
3,Afghanistan,"Adolescent fertility rate (births per 1,000 wo...",6.895700e+01,Very Sad
4,Afghanistan,Age dependency ratio (% of working-age populat...,8.600075e+01,Very Sad

In [5]:
pivot_df = indicators_df.pivot(index='countryname', columns='indicatorname', values='year_2017')

In [6]:
pivot_df.head()

indicatorname,Access to electricity (% of population),Adjusted savings: energy depletion (current US$),Adjusted savings: mineral depletion (current US$),"Adolescent fertility rate (births per 1,000 women ages 15-19)",Age dependency ratio (% of working-age population),"Birth rate, crude (per 1,000 people)","Contributing family workers, female (% of female employment) (modeled ILO estimate)","Contributing family workers, male (% of male employment) (modeled ILO estimate)","Contributing family workers, total (% of total employment) (modeled ILO estimate)","Death rate, crude (per 1,000 people)",...,"Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)","Unemployment, total (% of total labor force) (modeled ILO estimate)",Urban population,Urban population (% of total population),Urban population growth (annual %),"Wage and salaried workers, female (% of female employment) (modeled ILO estimate)","Wage and salaried workers, male (% of male employment) (modeled ILO estimate)","Wage and salaried workers, total (% of total employment) (modeled ILO estimate)",Women Business and the Law Index Score (scale 1-100)
countryname,,,,,,,,,,,,,,,,,,,,,
Afghanistan,97.700000,2.110297e+07,9.537887e+05,68.957,86.000753,33.211,68.609001,12.401000,23.763,6.575,...,14.090,10.416,11.184,9164841.0,25.250,3.463407,7.551000,20.083000,17.549999,38.1
Albania,100.000000,1.196189e+08,2.261126e+06,19.642,45.682097,11.934,38.580002,21.372999,28.600,7.714,...,12.563,14.590,13.750,1706345.0,59.383,1.541285,44.298000,41.727001,42.806999,91.3
Algeria,100.000000,1.517693e+10,8.871101e+06,10.071,55.804001,24.846,2.419000,1.834000,1.927,4.717,...,21.114,10.021,11.996,29821745.0,72.052,2.871374,74.598999,67.067001,68.268997,57.5
Angola,41.962894,1.497083e+10,0.000000e+00,150.526,96.820228,41.281,10.554000,7.986000,9.269,8.432,...,7.467,6.769,7.119,19332881.0,64.839,4.391957,17.445000,41.287998,29.374001,73.1
Argentina,100.000000,4.903240e+09,1.431438e+09,62.782,56.046355,17.205,0.977000,0.307000,0.587,7.616,...,9.464,7.527,8.347,40410674.0,91.749,1.170196,78.545998,71.865997,74.660004,73.1

In [7]:
pivot_df=pivot_df.dropna(how='any')

In [8]:
pivot_df.count()

indicatorname
Access to electricity (% of population)                                              151
Adjusted savings: energy depletion (current US$)                                     151
Adjusted savings: mineral depletion (current US$)                                    151
Adolescent fertility rate (births per 1,000 women ages 15-19)                        151
Age dependency ratio (% of working-age population)                                   151
                                                                                    ...
Urban population growth (annual %)                                                   151
Wage and salaried workers, female (% of female employment) (modeled ILO estimate)    151
Wage and salaried workers, male (% of male employment) (modeled ILO estimate)        151
Wage and salaried workers, total (% of total employment) (modeled ILO estimate)      151
Women Business and the Law Index Score (scale 1-100)                                 151
Length: 86, dtype: int64

In [9]:
target_groups_df = pd.read_sql("SELECT distinct countryname,target_groups  from table4_2017", connection)
                              
target_groups_df.head()

  countryname    target_groups
0      Angola         Very Sad
1     Ireland  Extremely Happy
2      Malawi         Very Sad
3      Rwanda         Very Sad
4     Denmark  Extremely Happy

In [10]:
merged_df = pd.merge(pivot_df, target_groups_df 
                   ,left_on="countryname"
                   ,right_on = "countryname"
                   ,how="inner")

In [11]:
merged_df.head()

,countryname,Access to electricity (% of population),Adjusted savings: energy depletion (current US$),Adjusted savings: mineral depletion (current US$),"Adolescent fertility rate (births per 1,000 women ages 15-19)",Age dependency ratio (% of working-age population),"Birth rate, crude (per 1,000 people)","Contributing family workers, female (% of female employment) (modeled ILO estimate)","Contributing family workers, male (% of male employment) (modeled ILO estimate)","Contributing family workers, total (% of total employment) (modeled ILO estimate)",...,"Unemployment, male (% of male labor force) (modeled ILO estimate)","Unemployment, total (% of total labor force) (modeled ILO estimate)",Urban population,Urban population (% of total population),Urban population growth (annual %),"Wage and salaried workers, female (% of female employment) (modeled ILO estimate)","Wage and salaried workers, male (% of male employment) (modeled ILO estimate)","Wage and salaried workers, total (% of total employment) (modeled ILO estimate)",Women Business and the Law Index Score (scale 1-100),target_groups
0,Afghanistan,97.700000,2.110297e+07,9.537887e+05,68.957,86.000753,33.211,68.609001,12.401000,23.763,...,10.416,11.184,9164841.0,25.250,3.463407,7.551000,20.083000,17.549999,38.1,Very Sad
1,Albania,100.000000,1.196189e+08,2.261126e+06,19.642,45.682097,11.934,38.580002,21.372999,28.600,...,14.590,13.750,1706345.0,59.383,1.541285,44.298000,41.727001,42.806999,91.3,Moderately Sad
2,Algeria,100.000000,1.517693e+10,8.871101e+06,10.071,55.804001,24.846,2.419000,1.834000,1.927,...,10.021,11.996,29821745.0,72.052,2.871374,74.598999,67.067001,68.268997,57.5,Moderately Happy
3,Angola,41.962894,1.497083e+10,0.000000e+00,150.526,96.820228,41.281,10.554000,7.986000,9.269,...,6.769,7.119,19332881.0,64.839,4.391957,17.445000,41.287998,29.374001,73.1,Very Sad
4,Argentina,100.000000,4.903240e+09,1.431438e+09,62.782,56.046355,17.205,0.977000,0.307000,0.587,...,7.527,8.347,40410674.0,91.749,1.170196,78.545998,71.865997,74.660004,73.1,Extremely Happy

In [12]:
target = merged_df["target_groups"]
target.head()

0            Very Sad
1      Moderately Sad
2    Moderately Happy
3            Very Sad
4     Extremely Happy
Name: target_groups, dtype: object

In [13]:
target_names = pd.read_sql("SELECT distinct target_groups  from table4_2017", connection)
target_names

      target_groups
0   Extremely Happy
1         Apathetic
2  Moderately Happy
3    Moderately Sad
4          Very Sad

In [14]:
data = merged_df.drop(["target_groups","countryname"], axis=1)

In [15]:
feature_names = data.columns
data.head()

,Access to electricity (% of population),Adjusted savings: energy depletion (current US$),Adjusted savings: mineral depletion (current US$),"Adolescent fertility rate (births per 1,000 women ages 15-19)",Age dependency ratio (% of working-age population),"Birth rate, crude (per 1,000 people)","Contributing family workers, female (% of female employment) (modeled ILO estimate)","Contributing family workers, male (% of male employment) (modeled ILO estimate)","Contributing family workers, total (% of total employment) (modeled ILO estimate)","Death rate, crude (per 1,000 people)",...,"Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)","Unemployment, total (% of total labor force) (modeled ILO estimate)",Urban population,Urban population (% of total population),Urban population growth (annual %),"Wage and salaried workers, female (% of female employment) (modeled ILO estimate)","Wage and salaried workers, male (% of male employment) (modeled ILO estimate)","Wage and salaried workers, total (% of total employment) (modeled ILO estimate)",Women Business and the Law Index Score (scale 1-100)
0,97.700000,2.110297e+07,9.537887e+05,68.957,86.000753,33.211,68.609001,12.401000,23.763,6.575,...,14.090,10.416,11.184,9164841.0,25.250,3.463407,7.551000,20.083000,17.549999,38.1
1,100.000000,1.196189e+08,2.261126e+06,19.642,45.682097,11.934,38.580002,21.372999,28.600,7.714,...,12.563,14.590,13.750,1706345.0,59.383,1.541285,44.298000,41.727001,42.806999,91.3
2,100.000000,1.517693e+10,8.871101e+06,10.071,55.804001,24.846,2.419000,1.834000,1.927,4.717,...,21.114,10.021,11.996,29821745.0,72.052,2.871374,74.598999,67.067001,68.268997,57.5
3,41.962894,1.497083e+10,0.000000e+00,150.526,96.820228,41.281,10.554000,7.986000,9.269,8.432,...,7.467,6.769,7.119,19332881.0,64.839,4.391957,17.445000,41.287998,29.374001,73.1
4,100.000000,4.903240e+09,1.431438e+09,62.782,56.046355,17.205,0.977000,0.307000,0.587,7.616,...,9.464,7.527,8.347,40410674.0,91.749,1.170196,78.545998,71.865997,74.660004,73.1

In [16]:
data.count()

Access to electricity (% of population)                                              151
Adjusted savings: energy depletion (current US$)                                     151
Adjusted savings: mineral depletion (current US$)                                    151
Adolescent fertility rate (births per 1,000 women ages 15-19)                        151
Age dependency ratio (% of working-age population)                                   151
                                                                                    ...
Urban population growth (annual %)                                                   151
Wage and salaried workers, female (% of female employment) (modeled ILO estimate)    151
Wage and salaried workers, male (% of male employment) (modeled ILO estimate)        151
Wage and salaried workers, total (% of total employment) (modeled ILO estimate)      151
Women Business and the Law Index Score (scale 1-100)                                 151
Length: 86, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [18]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.4473684210526316

In [19]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.5

In [20]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.0362072399305023, 'Life expectancy at birth, male (years)'),
 (0.033731126997834086, 'GDP per capita (current US$)'),
 (0.03200914163368508, 'Life expectancy at birth, female (years)'),
 (0.029544303110225923,
  'Employment in services, female (% of female employment) (modeled ILO estimate)'),
 (0.027245367092720157,
  'Employment in agriculture, female (% of female employment) (modeled ILO estimate)'),
 (0.026751260882440942, 'Life expectancy at birth, total (years)'),
 (0.024934679812845632, 'Survival to age 65, male (% of cohort)'),
 (0.022706418310185928,
  'Unemployment, total (% of total labor force) (modeled ILO estimate)'),
 (0.022200298463216493, 'Birth rate, crude (per 1,000 people)'),
 (0.019398696632223333, 'Secure Internet servers (per 1 million people)'),
 (0.017511779291999242,
  'Unemployment, male (% of male labor force) (modeled ILO estimate)'),
 (0.017450079786002926, 'Net migration'),
 (0.016979683877652335, 'Incidence of tuberculosis (per 100,000 people)'),
 (0.015871775890011455, 'Rural population (% of total population)'),
 (0.015830115253787917,
  'Employers, total (% of total employment) (modeled ILO estimate)'),
 (0.015230231009101012, 'Survival to age 65, female (% of cohort)'),
 (0.014635833799939166,
  'Employment in industry, female (% of female employment) (modeled ILO estimate)'),
 (0.014290491615829985, 'Fertility rate, total (births per woman)'),
 (0.014062245115613088,
  'Employment in services (% of total employment) (modeled ILO estimate)'),
 (0.013868888051544957,
  'Employers, female (% of female employment) (modeled ILO estimate)'),
 (0.013857760082654276, 'Individuals using the Internet (% of population)'),
 (0.013718217107577493,
  'Unemployment, female (% of female labor force) (modeled ILO estimate)'),
 (0.013253318229323723, 'Urban population (% of total population)'),
 (0.013165883171654007,
  'Employment in agriculture (% of total employment) (modeled ILO estimate)'),
 (0.01305847656409276,
  'Self-employed, total (% of total employment) (modeled ILO estimate)'),
 (0.012743882941665832, 'Age dependency ratio (% of working-age population)'),
 (0.01253374268120682,
  'Merchandise exports by the reporting economy (current US$)'),
 (0.012274526405612997,
  'Employment to population ratio, 15+, male (%) (modeled ILO estimate)'),
 (0.012068915885196567, 'Sex ratio at birth (male births per female births)'),
 (0.011653809276876372,
  'Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)'),
 (0.011012230570030122,
  'Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate)'),
 (0.010962286581735613,
  'Self-employed, female (% of female employment) (modeled ILO estimate)'),
 (0.010942023645216715,
  'Merchandise exports to high-income economies (% of total merchandise exports)'),
 (0.010941918188646786,
  'Employers, male (% of male employment) (modeled ILO estimate)'),
 (0.010908342439191563,
  'Contributing family workers, female (% of female employment) (modeled ILO estimate)'),
 (0.010746506576452512,
  'Self-employed, male (% of male employment) (modeled ILO estimate)'),
 (0.010642108364933464, 'Labor force, total'),
 (0.010303596416541817,
  'Employment in agriculture, male (% of male employment) (modeled ILO estimate)'),
 (0.010302264266015935,
  'Employment to population ratio, 15+, female (%) (modeled ILO estimate)'),
 (0.01022587481352184,
  'Employment in industry (% of total employment) (modeled ILO estimate)'),
 (0.010143345565459913, 'Urban population growth (annual %)'),
 (0.010051208974761455, 'Population growth (annual %)'),
 (0.00985659345726508,
  'Employment to population ratio, 15+, total (%) (modeled ILO estimate)'),
 (0.009642434923280114, 'Population, female (% of total population)'),
 (0.009529898382364172,
  'Contributing family workers, male (% of male employment) (modeled ILO estimate)'),
 (0.009424497255095768,
  'Ease of doing business score (0 = lowest performance to 100 = best performance)'),
 (0.009266469324492418,
  'Wage and salaried workers, male (% of male employment) (modeled ILO estimate)'),
 (0.009198923447802746, 'Tuberculosis case detection rate (%, all forms)'),
 (0.009172323309104004, 'Inflation, GDP deflator (annual %)'),
 (0.009167540087971975,
  'Merchandise imports by the reporting economy (current US$)'),
 (0.00916179096903354, 'Population, male'),
 (0.009148701242660427, 'GDP growth (annual %)'),
 (0.008888577124970898,
  'Wage and salaried workers, total (% of total employment) (modeled ILO estimate)'),
 (0.008722935085456606, 'Secure Internet servers'),
 (0.008682062252511513, 'Population, male (% of total population)'),
 (0.008474677840172938, 'GDP (current US$)'),
 (0.008449986581083946, 'Population, female'),
 (0.008365724858229378, 'Death rate, crude (per 1,000 people)'),
 (0.008333103847486199,
  'Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)'),
 (0.008215124164076455,
  'Employment in services, male (% of male employment) (modeled ILO estimate)'),
 (0.007994932514616006,
  'Wage and salaried workers, female (% of female employment) (modeled ILO estimate)'),
 (0.00798860897862998,
  'Merchandise imports from high-income economies (% of total merchandise imports)'),
 (0.007827557157261437, 'Urban population'),
 (0.0077271643077187115, 'Time required to start a business (days)'),
 (0.007626281015266001, 'Population, total'),
 (0.007481962160541176, 'Labor force, female (% of total labor force)'),
 (0.007384215246318643,
  'Women Business and the Law Index Score (scale 1-100)'),
 (0.007308041576004391, 'Public credit registry coverage (% of adults)'),
 (0.007306724134880106,
  'Contributing family workers, total (% of total employment) (modeled ILO estimate)'),
 (0.007112364535668312,
  'Employment in industry, male (% of male employment) (modeled ILO estimate)'),
 (0.006931144255627116, 'GDP per capita growth (annual %)'),
 (0.0068049303091945205,
  'Merchandise imports by the reporting economy, residual (% of total merchandise imports)'),
 (0.006723440058384974, 'Mobile cellular subscriptions'),
 (0.006470553442937399, 'Adjusted savings: mineral depletion (current US$)'),
 (0.0062711668180761146,
  'Ratio of female to male labor force participation rate (%) (modeled ILO estimate)'),
 (0.005896824935604634,
  'Merchandise exports by the reporting economy, residual (% of total merchandise exports)'),
 (0.0056839072862086915,
  'Adolescent fertility rate (births per 1,000 women ages 15-19)'),
 (0.005622795794341904, 'Access to electricity (% of population)'),
 (0.005475128124196626,
  'Strength of legal rights index (0=weak to 12=strong)'),
 (0.004431003620853531, 'Private credit bureau coverage (% of adults)'),
 (0.004345774353511159, 'Depth of credit information index (0=low to 8=high)'),
 (0.004273840357537467, 'Adjusted savings: energy depletion (current US$)'),
 (0.002743900483466996, 'Secondary education, duration (years)'),
 (0.002037238206330798, 'Lower secondary school starting age (years)'),
 (0.0019441851374484716, 'Primary education, duration (years)'),
 (0.0009150557305860743, 'Primary school starting age (years)')]